@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/

/* ibg start*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; 
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
/* ibg end*/


/* show_hide start*/
.show-more-less {
  height: auto;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.to-show {
  display: none;
}
.to-hidden {
  display: none;
}
/* show_hide end*/


body {
  background: #e9e9e9;
  font-family: 'Montserrat', sans-serif; }

.up{
	font-size: 35px;
	position: fixed;
	color: #000;
	z-index: 59;
	float: left;
	margin: 30px;
}

.wrapper {
  padding: 0 7%; }

.header {
  width: 100%;
  height: 100vh;
  background: url(../img/header_b.jpg) 10% 80% / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

.top_header {
  width: 100%;
  height: 40px;
  background: url(../img/logo.png) 0px bottom no-repeat; }

.top_header li {
  float: left;
  margin: 1.61% 0.73% 0;
  letter-spacing: 3px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}


@media (max-width: 970px) {
  .top_header li {
    font-size: 12px; } }
@media (max-width: 846px) {
  .top_header li {
  	padding-top: 7px;
    font-size: 10px;
     } }

.list li:first-child {
  color: #10C9C3;
  margin-left: 30.45%; }

@media (max-width: 1160px) {
  .list li:first-child {
    margin-left: 18.45%; } }
@media (max-width: 967px) {
  .list li:first-child {
    margin-left: 15.45%; } }
@media (max-width: 846px) {
  .list li:first-child {
    margin-left: 12.45%;
     } }

.above_header {
  width: 40.26%;
  align-self: flex-end;
  margin: 0 50px 7% 0;
 }
 @media (max-width: 1176px) {
  .above_header {
  width: 55%;
  }
 }
 @media (max-width: 576px) {
  .above_header {
  width: 80%;
  align-self: center;
    margin: 0 0 20% 0;
  }
 }


.top_header li a:link {
  color: black; }

.top_header li a:visited {
  color: black; }

.top_header li a:hover {
      transition-duration: 0.2s;
  color: #10C9C3; }

.top_header li a:active {
  color: white; }

h1 {
  font-size: 38px;
  font-weight: 700; 
margin-bottom: 35px;}

@media (max-width: 960px) {
  h1 {
    font-size: 32px; } }


.above_header p {
  color: #787878;
  font-size: 28px;
  line-height: 35px;
  background: rgba(25, 225, 225, 0.5);
  padding-left: 4px; }

	@media (max-width: 960px) {
	  .above_header p {
	    font-size: 18px; } }

.contact_me {
  display: block;
  padding: 18px 30px;
  margin-top: 38px;
  background: #10C9C3;
  color: white;
  letter-spacing: 3px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700; }
	@media (max-width:767px){
	.contact_me {
    padding: 15px 27px;
		margin-top: 21px;
		font-size: 10px;
  		} 
	}
	@media (max-width:466px){
		.contact_me {
		 	font-size: 8px;} 
	}
.contact_me a:link {
  color: white; }

.contact_me a:visited {
  color: white; }

.contact_me a:hover {
  color: white; }



.contact_me:hover, .form_button:hover {
    border-bottom: solid #000 1.5px;
       transition-duration: 0.5s;
}
.contact_me:active, .form_button:active {
   background: #bfc0c2;
   transition-duration: 0.5s;
}



.about {
  width: 100%;
 
  background: white url(../img/sighn.png) 50% 85% no-repeat;
  padding: 98px 0; }

    @media (max-width:767px){
	.about {
     	  height: 416px;
		  padding-top: 68px; }
	}
    @media (max-width:620px){
	.about {
     	  height: 316px;
		  padding-top: 18px;
		  background: white url(../img/sighn.png) 50% 85% / 25% no-repeat;
		   }
	}

.ab_wrapper {
  width: 620px;
  margin: 0px auto; }
    @media (max-width:620px){
	.ab_wrapper{
		 width: 360px; }
	}
	@media (max-width:420px){
	.ab_wrapper{
		 width: 260px; }
	}

.about h2 {
  font-size: 34px;
  font-weight: 700;
  text-align: center; }
   @media (max-width:620px){
	.about h2{
		font-size: 21px; }
	}

.about p {
  color: #787878;
  font-size: 16px;
  line-height: 35px;
  text-align: center; }
  @media (max-width: 620px) {
	.about p {
		font-size: 14px;
  		line-height: 25px;
	}
  }


.skills {
  width: 100%;
  display: flex;
 }


.sk_inf {
  width: 50%;
  background: white;
  padding: 7%; }

@media (max-width:767px){
    .sk_inf {
      width: 100%;
      padding: 50px 7%; 
      border-top: 2px solid #8E8E8E;
    }
  }


.sk_inf h3 {
  font-size: 34px;
  font-weight: 700;
  text-align: left; }
  	@media (max-width:886px){
		.sk_inf h3 {
			font-size: 25px;
		}
	}
	@media (max-width:560px){
		.sk_inf h3 {
			font-size: 21px;
		}
	}

.sk_inf p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700; }
  @media (max-width:560px){
	  .sk_inf p {
	    font-size: 12px; }
	}
	@media (max-width:432px){
	  .sk_inf p {
	    font-size: 10px; }
	}


.sk_img {
  float: left;
  width: 50%; }


	@media (max-width:767px){
	  .sk_img {
	   display: none; }
	}


.lines_d, .lines_w, .lines_m {
  height: 34px;
  margin-top: 43px; }
  @media (max-width:560px){
	  .lines_d, .lines_w, .lines_m {
	    height: 24px;
  		margin-top: 23px; }

	}

.lines_d {
  background: url(../img/first_line.png) left bottom/75%   no-repeat, url(../img/under_line.png) left bottom/100% no-repeat; }

.lines_w {
  background: url(../img/second_line.png) left bottom/90%   no-repeat, url(../img/under_line.png) left bottom/100% no-repeat; }

.lines_m {
  background: url(../img/third_line.png) left bottom/65%   no-repeat, url(../img/under_line.png) left bottom/100% no-repeat; }

.digits {
  width: 100%;
  height: 239px;
  background: #10C9C3;
  padding: 100px 0 0 7%; }

.digits div {
  width: 21,96%;
  height: 3,66%;
  padding-left: 7%;
  float: left;
  margin-left: 3.66%;
  color: white;
  font-size: 16px;
  text-transform: uppercase; }

.digits div span {
  font-weight: 900; }

.digits div:nth-child(1) {
  margin-left: 0;
  background: url(../img/icons/numbers/suitcase.png) 0% 50%/20% 100% no-repeat; }

.digits div:nth-child(2) {
  background: url(../img/icons/numbers/clock.png) 0% 50%/20% 100% no-repeat; }

.digits div:nth-child(3) {
  background: url(../img/icons/numbers/star.png) 0% 50%/20% 100% no-repeat; }

.digits div:nth-child(4) {
  background: url(../img/icons/numbers/heart.png) 0% 50%/20% 100% no-repeat; }

	@media (max-width: 1235px) {
	  .digits {
	    height: 139px;
	    padding: 60px 0 0 7%; }
	  .digits div {
	    font-size: 12px; } }
	@media (max-width:923px){
	  .digits {
	    height: 129px;
	    padding: 50px 0 0 5%; }
	  .digits div {
	    font-size: 10px; }
	}
	@media (max-width:767px){
	  .digits {
	    height: 119px;
	    padding: 40px 0 0 3%; }
	}
	@media (max-width:746px){
	  .digits {
	    display: none;

	     }
	}

.photos {
  height: auto;
  width: 100%; }

	

.photos a {
  display: block;
  float: left;
  height: 300px;
  width: 25%; 
}
    @media (max-width: 1024px){
      .photos a {
        height: 200px;
      }
    }
    @media (max-width: 768px){
      .photos a {
        width: 50%; 
      }
    }
     @media (max-width: 425px){
      .photos a {
        height: 150px;
      }
    }



.photos a:hover div{
    background: url(../img/icons/look.png) 50% 50% no-repeat, rgba(0, 0, 0, 0.7);
    height: inherit;
    width: 100%; 
    transition: all 0.5s ease 0s;
}

.lead_more {
  width: 100%;
  height: 100px;
  padding: 47px;
  color: #8E8E8E;
  font-weight: 900px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center; }
  @media (max-width:767px){
  	.lead_more {
  		padding: 17px;
  		height: 50px;}}

.work_rocess {
  padding: 100px 0;
  width: 100%;
  background: white;
  padding-top: 100px;
  color: #787878;
  font-size: 16px;
  text-align: center;
  line-height: 25px; }
  	@media (max-width:767px){
  	.work_rocess {
  		  padding: 50px 0;
  		}}
	@media (max-width: 580px){
  	.work_rocess {
  		  padding: 30px 0;
  		  font-size: 12px;
  		  line-height: 15px;
  		}}
.work_rocess h3 {
  font-size: 30px;
  font-weight: 700;
  color: black; }
  @media (max-width: 580px){
  	.work_rocess h3 {font-size: 24px;}
  }

video {
  display: block;
  margin: 55px auto;
  width: 80%    !important;
  height: auto   !important; }
  	@media (max-width:767px){
  	video {
  		   margin: 10px auto;
  		}}

.things {
  width: 100%;
  height: 535px;
  padding: 100px 7% 0 7%; }

  @media (max-width: 767px) {
	.things {
		display: none;
	}
  }

.things div {
  padding: 60px 15px 0 15px;
  float: left;
  width: 25%;
  height: 50%;
  text-align: center;
  font-size: 16px;
  color: #787878;
  line-height: 25px; }

.things div span {
  font-weight: 900;
  letter-spacing: 1px;
  color: black; }

.things div:nth-child(1) {
  background: url(../img/icons/servises/diamond.png) 50% 0% no-repeat; }

.things div:nth-child(2) {
  background: url(../img/icons/servises/arc.png) 50% 0% no-repeat; }

.things div:nth-child(3) {
  background: url(../img/icons/servises/phone.png) 50% 0% no-repeat; }

.things div:nth-child(4) {
  background: url(../img/icons/servises/joy.png) 50% 0% no-repeat; }
.things div:nth-child(5) {
  background: url(../img/icons/servises/plane.png) 50% 0% no-repeat; }
.things div:nth-child(6) {
  background: url(../img/icons/servises/star.png) 50% 0% no-repeat; }
.things div:nth-child(7) {
  background: url(../img/icons/servises/magic-wand.png) 50% 0% no-repeat; }
.things div:nth-child(8) {
  background: url(../img/icons/servises/paint-bucket.png) 50% 0% no-repeat; }

.testimonials {
  width: 100%;
  padding: 50px 0  10px 0;
  background: #10C9C3;
  color: white;
  font-size: 30px;
  line-height: 35px;
  }


  .testimonials__swiper-element {
    text-align: center;
    width: 100%;
    padding-bottom: 60px;
  }
      @media (max-width:460px){
      .testimonials__swiper-element {
          padding-bottom: 40px;}
      }

  	@media (max-width:767px){
	.testimonials {
		padding: 30px 0 10px 0;
    	font-size: 24px;}
	}
	@media (max-width:460px){
	.testimonials {
    	font-size: 16px;
    	line-height: 25px;}
	}


.clients {
  width: 100%;
  height: 200px;
  padding: 0 7%;
  background: url(../img/icons/logos/1.png) 7% 50% no-repeat, url(../img/icons/logos/2.png) 37% 50% no-repeat, url(../img/icons/logos/3.png) 62% 50% no-repeat, url(../img/icons/logos/4.png) 90% 50% no-repeat, #FFFFFF; }
  @media (max-width: 674px) {
  	.clients {
		 background: url(../img/icons/logos/1.png) 7% 50% / 15% no-repeat, url(../img/icons/logos/2.png) 37% 50%  / 15% no-repeat, url(../img/icons/logos/3.png) 62% 50%  / 15% no-repeat, url(../img/icons/logos/4.png) 90% 50%  / 15% no-repeat, #FFFFFF; 
 		 height: 100px;
	 }
  }

.form_part {
  width: 100%;
  padding: 60px 0;
  background: #F5F5F5;
  color: #787878;
  font-size: 16px;
  text-align: center;
  line-height: 25px; }
  @media (max-width:767px){ 
		.form_part {
  			padding: 40px 0; }
	}
  @media (max-width:460px){
		.form_part {
		font-size: 12px;
		line-height: 20px;
    padding: 20px 0;
    	} 
	}
.form_part h3 {
  font-size: 30px;
  font-weight: 700;
  color: black; }
  @media (max-width:460px){
		.form_part h3 {
		font-size: 24px;
    	} 
	}

.form {
  display: block;
  width: 720px;

  margin: 37px auto; }
   @media (max-width:767px){ 
		.form {
  			width: 100%;
         margin: 20px auto 0; 
      }
	}

.input {
  display: block;
  width: 44.58%;
  height: 49px;
  float: left;
  margin: 2.22%;
  padding: 19px 21px; }

#title {
  width: 93.33%; }

#comment {
  display: block;
  width: 93.33%;
  height: 171px;
  float: left;
  margin: 2.22%;
  padding: 19px 21px;
  color: #787878; }

.form_button {
  display: block;
 padding: 18px 30px;
  margin: 0 auto;
  background: #10C9C3;
  color: white;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700; }

footer {
  width: 100%;
  background: #141414;
  padding: 100px 50px;
  color: #BCBCBC;
  font-size: 15px;
  line-height: 25px; 

  display: flex;
  justify-content: space-between;
}
    @media (max-width: 824px) {
      footer {
        flex-wrap: wrap;
        padding:30px;

      }
      footer ul:nth-child(1),footer ul:nth-child(2) {
        width: 50%;
        margin-bottom: 20px;
      }
    }
    @media (max-width: 616px) {
      footer {
        font-size: 12px;
      }
      footer ul:first-child li:first-child {
        font-size: 15px;
      }
    }
    @media (max-width: 425px) {
      footer ul:nth-child(1),footer ul:nth-child(2) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

footer ul:first-child li:first-child {
font-size: 18px;
  font-weight: 700;
  color: white;
}



/* burger menu start*/
@media (max-width:767px){
	body.lock{
		overflow: hidden;
	}
	.top_header {
		padding: 20px;
	}
	.header__burger {
		float: right;
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;

	}
	.header__burger span{
		position: absolute;
		background-color: #000;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}

	.header__burger.active span{
		transform: scale(0);
	}

	.header__burger.active:before{
		transform:rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform:rotate(-45deg);
		bottom: 9px;
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #10C9C3;
		padding: 70px 10px 20px 10px;
	}

	.header__menu.active{
		top: 0;
	}

	.list {
		display: block;
	}
	.list li, .list li:first-child{
		width: 100%;
		margin: 0px 0px 20px 40px;
	}
	
	.top_header li a:link {
		font-size: 24px;
	}
	

	.content {
		padding: 100px 0px 0px 0px;
	}
	.content__text {
		font-size: 18px;
		line-height: 25px;
	}
	.content__text p{
		margin: 0px 0px 20px 0px;
	}
}
/* burger menu end*/


